footer{
	padding-top: .5%;
	position: relative;
	max-width: 100%;
	box-sizing: border-box;	
}
.copyright{
	box-sizing: border-box;	
	width: 100%;
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
	background-color: #f5a5b8;
	color: #106969;
	font-family: 'Oregano';
  text-align: center;
  z-index: 2;
}
.copyright a{
	color: #e96196;
}