<section *ngIf="remedy">
  <mat-card class="example-card">
    <mat-card-header>
      <h2 class="mat-h1">{{remedy?.title}}</h2>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> Hola {{user?.username}}</mat-card-title>
      <mat-card-subtitle>Autor: <small>{{remedy?.idUser.username}}</small> </mat-card-subtitle>
    </mat-card-header>
<!--     <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <h2 class="mat-h2">Ingredientes</h2>
      <ul  *ngFor="let ingredient of remedy.ingredients">
        <li>{{ingredient}}</li>
      </ul>
      <h2 class="mat-h2">Receta</h2>
      <p>
        {{remedy?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="show()">
      <button mat-button [routerLink]="['/signup']"> 
        <mat-icon>comment</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-actions *ngIf="!show()">
      <button mat-button (click)="openBottomSheet()"> 
        <mat-icon>comment</mat-icon>
      </button>
<!--       <button mat-icon-button (click)="addFav($event)">
        <mat-icon [ngStyle]="{'color': fav ? '#e96196' : 'gray'}">favorite</mat-icon>
      </button> -->
      <button mat-button (click)="openEdit()" *ngIf="user.id === remedy.idUser._id">
          <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-content *ngIf="remedy.comments.length > 0">
      <h2 class="mat-h2">Comentarios</h2>
      <ul  *ngFor="let comment of remedy.comments" class="commentsList">
        <li>
          <p><strong>{{comment.username}}:</strong> {{comment.body}}
          <br>
          <small>{{comment.created_at| date: 'dd/MM/yyyy'}}</small>
        </p>
          
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</section>
