@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Oregano');
.oregano {
	font-family: 'Oregano';
}
.mat-sidenav-container {
	background: #fff;
}
mat-toolbar{
	position: fixed;
	z-index: 10;
}
h1 {
	font-size: 2em;
	text-align: center;
	display: inline;
}
img {
	vertical-align: middle;
	width: 100px;
	padding-left: 2%;
}
.blank-grow {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
.blank-grow:visited {
	color: #106969;
}
.mat-toolbar.mat-primary {
	background: #c1efdf;
	color: #106969;
	height: 80px;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon .auth {
	padding: 0 2%;
}
button.mat-button.mat-icon-button {
	right: 0;
	position: absolute;
}
mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c3-0.ng-trigger.ng-trigger-transform.mat-drawer-over.ng-star-inserted {
	width: 30vw;
}

a.mat-list-item {
	margin-left: 9%;
	color: #106969;
}

span.auth {
	color: #106969;
	font-size: 1.2rem;
}

