<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav >
    <mat-nav-list>
        <button mat-button matSuffix mat-icon-button type="button" aria-label="Clear" (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
          </button>
      <a mat-list-item [routerLink]="['auth']" style="
      margin-top: 30%;" (click)="sidenav.close()" *ngIf="show()">
        <span class="auth">Crear Cuenta</span>
      </a>
      <a mat-list-item [routerLink]="['auth']" (click)="sidenav.close()" *ngIf="show()">
        <span class="auth">Iniciar Sesión</span>
      </a>
      <a mat-list-item [routerLink]="['home']" (click)="logout(); sidenav.close()" style="margin-top: 30%;">
        <span class="auth" *ngIf="!show()">Cerrar Sesión</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['home']" class="blank-grow">
      <h1 class="oregano title"> Me Dijo Mi Má</h1>
      <img src="../../assets/img/flor.png" alt="flor">
    </a>
<!--     <span class="icon">
      <a [routerLink]="['auth']"> Cuenta </a>
    </span> -->
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>