mat-form-field.mat-form-field {
	color: #106969;
	width: 95%;
	padding-left: 2.5%;
}
.title_button{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 3%;
}
button.btn.mat-raised-button {
  align-self: baseline;
  margin-left: 30%;
}
