/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "./app/_scss/_var.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Oregano');
html {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: $principal-color;
}
.oregano {
	font-family: 'Oregano';
}
.montserrat {
	font-family: 'Montserrat';
	color: #f5a5b8;
}
.container {
	max-width: 90%;
	margin: 0 auto;
}
.mat-drawer-container[fullscreen] {
	height: 100vh;
	margin: 0 !important;
}
button.btn {
	background: #c1efdf;
	color: $principal-color;
}
.mat-form-field-underline {
	background-color: $principal-color;
}
mat-form-field.mat-form-field {
	color: $principal-color;
}
h1 {
	text-align: center;
	color: #106969;
}
.mat-bottom-sheet-container {
	height: 65vh;
	width: 100vw;
}
@media only screen and (max-width: 550px) {
	button.mat-fab.mat-accent {
		top: 13% !important;
		right: 8% !important;
	}
	mat-sidenav.mat-drawer.mat-sidenav.mat-drawer-over {
		width: 35vw !important;
	}
}
.splash {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #c1efdf;
}
