/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "./app/_scss/_var.scss";
html {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: $principal-color;
}
/* [class*="mat-"] {
	color: $principal-color;
} */
.container {
	max-width: 90%;
	margin: 0 auto;
}
.mat-drawer-container[fullscreen] {
	height: 100vh;
	margin: 0 !important;
}
button.btn {
	background: #c1efdf;
	color: $principal-color;
}
.mat-form-field-underline {
	background-color: $principal-color;
}
mat-form-field.mat-form-field {
	color: $principal-color;
}
h1 {
	text-align: center;
	color: #106969;
}
.mat-bottom-sheet-container {
	height: 61vh;
}
